# Filename: requirements.txt
# Created: Saturday, July 13th 2019, 6:32:27 pm
# Author: Steven Atkinson (steven@atkinson.mn)

graphviz>=0.9
jupyter
matplotlib>=2.1.2
numpy>=1.10
pytest>=3.5.0
pytest-cov
scikit-learn>=0.19.1
scipy>=0.18
torch>=1
